.start-square {
  background-image: url("./img/Chess_ndt45.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-square {
  background-image: url("./img/Chess_tile_xx.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.try-square {
  background-image: url("./img/Chess_tile_xo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.observed-square::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./img/Chess_tile_xo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
.potential-square::after {
  opacity: 0.5;
}
.visited-square::after {
  opacity: 1;
}
.svg-line {
  position: absolute;
}
.svg-line line {
  stroke-width: min(0.5vmin, 5px);
  stroke: black;
}
